body, html{
    height:100%;
    position: relative;
    background-color: #E0E0E0; 
}

#settings {
    -webkit-box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.52);
    box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.52);
    margin-top: 65px;
    height: 100px;
}

#hero{
    max-height: 500px !important;
    position: relative;
    top:-80px;
}

#hero, #hero > *{
    width: 100%;
    min-height: 50%;
}

#hero #overlay-image{
    background: url('../images/hero.jpg');
     position: absolute;
    -webkit-background-size:cover;
    background-size:cover;
    height: 450px;
}

#hero-content{
    position: absolute;
    color:#FFF;
}

#hero-content .content{
    width: 70%;
    margin:90px auto 0px;
}

#hero-menu{
    position: absolute;
    color:#FFF;
    clear: both;
    top: 20px;
    margin: auto;
    max-height:50px !important;
    margin-top: 380px;
    font-family: 'robotoLight';
    font-size: 18px;
    padding: 0 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 40px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
}

#hero-menu a {
    width: 20%;
    float: right;
    margin-top: 7px;
}

.slider-text-header{
    text-align: right;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    font-family: 'robotoMedium';
    color: #fff;
}

.slider-text-paragraph{
    font-size: 19px;
    line-height: 31px;
    font-weight: 300;
}
 
.footer-copyright {
    background-color: #2C3E50!important;
}

.api-link {
    margin-left:2%;
}

.api-link a {
    color: #ffffff;
    text-decoration: none;
}

.feature-content:nth-child(1) {
     margin-top: 90px;
}

.feature-content {
    clear: both;
    min-height: 20px;
    width: 80%;
    margin-bottom:20px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}

.text-content h1 {
    color:#2793e6; 
    padding: 10px; 
    font-size:25px; 
    font-weight: 200; 
    line-height: 30px;
}

.text-content .p {
    font-size: 15px;
    font-weight: 400; 
    line-height: 24px;
}

.feature-content .text-content {
    text-align: center;
}

.feature-content .img {
   position: absolute;
    margin-right: 20px;
    width: 200px;
    float: center;
    position: relative;
    left: 30px;
}

.nav-container {
    ..display: none;
    ..margin-top: -100px;
    ..background: gray;
    height: 100vh!important;
}

.logo {
    margin: auto;
    padding: 15px;
}

.logo-box {
    margin: 0 auto;
    z-index: 55;
}

@font-face {
    font-family: robotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotoMedium;
    src: url('../fonts/Roboto-Medium.ttf');
    font-size: 18px;
}

/*
# myApp Styles
===============================================
*/

#main-one {
    clear: both;
    min-height: 400px;
    width: 80%;
    margin-bottom:20px;
    background-color: #fff;
    margin-right: auto;
    margin-left: 134px;
}

#main-two {
    clear: both;
    min-height: 400px;
    width: 80%;
    background-color: #fff;
    margin-right: 100px;
    margin-left: -54px;
}

.myapp {
    border: 1px solid #c7cdcf;
    width: 90%;
    height: 150px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    position: relative;
    background: #fcfcfc;
}

.error-message {
    border: 1px solid #c7cdcf;
    width: 90%;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    position: relative;
    background: #fcfcfc;
}

.error-text {
    text-align: center;
    font-size: 16px;
}

.waves-two {
    margin-left: 128px;
    width: 250px;
    top: 20px;
}

.myapp:nth-child(1) {
    top: 90px;
}

.app-title {
    font-size: 21px;
    line-height: 70px;
    margin: auto;
    font-weight: 500;
    text-align: center;
}

.app-text {
    margin-top: 20px;
    text-align: center;
}

/*.waves-effect {
    vertical-align: top!important;
}*/

.waves {
    margin-left: 128px;
    width: 350px;
}

.waves-one {
    margin-top: auto;
    margin-left: 50px;
    margin-top: 20px;
}

.session-one {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    position: relative;
}

.session-two {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    position: relative;
    background: red;
}

.session-three {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    position: relative;
    background: white;
}



/*
 # Avatar Image
 =====================
*/
img.avatar {
    width: 45px;
    max-width: 1232px;
    height: 45px;
    vertical-align: middle;
}


