#settings {
    -webkit-box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.52);
    box-shadow: -1px 2px 16px 3px rgba(0,0,0,0.52);
    margin-top: 65px;
    height: 100px;
}

/* Beginning of view comments css */
.episode_comments {
    display:block;
    padding-top:10px;
}

.view_more_comments {
    width: 50%;
    clear: both;
    margin-bottom: 2%;
    padding: 10px;
    color: #26a69a;
    font-size: 12px;
    cursor: hand;
}

.view_more_comments a {
    width: 20%;
    clear: both;
    margin-bottom: 2%;
}
.view_more_comments a {
    font-size: 12px;
    text-decoration: none;
    cursor: hand;
}
/* End */

.logo {
    margin: auto;
    padding: 15px;
}

.waves-effect {
    vertical-align: top!important;
}

.search {
    margin: 0!important;
}

.logo-box {
    margin: 0 auto;
    z-index: 55;
}

.card-image {
    margin: 15px;
    height: 50%;
    border-radius: 9px;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
}

.text-disabled {
    color:#ccc;
}

.pin {
    color: white;
    width: 15px;
}

.data-grid {
    width: 25%;
}

.count-active {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #337ab7;
}

.count-deleted {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #ccc;
}

a.capitalize {
    text-transform: capitalize;
    color: #333;
}

a:hover.capitalize {
    color: red;
}

.episode-date {
    font-size: 11pt;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0;
}

.social-sharing {
    padding: 10px;
    border-radius: 6px;
    background-color: #82B541;
}

.hosts-image {
    border: 1px solid #135764;
    padding: 5px;
    background-color: transparent;
    margin: 10px 5px 0;
    border-radius: 50%;
    height: auto;
}

.your-host {
    font-family: inherit;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.5%;
    line-height: 1.2;
}

.hosts-name {
    display: block;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px;
    color: #2C3E50;
}

.fix {
    margin: 30px 0 0;
}

#playlist {
    width: 80%;
    height: auto;
}

.excerpts {
    letter-spacing: .01em;
    border-bottom: 3px solid;
    width: 20%;
}

.error {
    font-size: 160pt;
    color: grey;
    font-weight: bold;
    line-height: 1em;
}

.error-message {
    background-color: #D9534F;
    border-radius: 10px;
    font-weight: light;
    color: #fff;
    padding: 15px;
}

.success-message {
    background-color: #5CB85C;
    border-radius: 10px;
    font-weight: light;
    color: #fff;
    padding: 15px;
}

.error-exit-message {
    color: grey;
}

.spacer {
    margin: 3% 0;
}

.facebook {
    width: 100%;
    background-color: #3B5999;
    height: 50px;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.twitter {
    width: 100%;
    background-color: #55ACEF;
    height: 50px;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.customised_alert {
    padding: 8px 20%;
}

.btn-large {
    text-transform: capitalize;
}

.social {
    border: 0;
    box-shadow: none;
}

.pic {
    width: 9%;
}

.loader {
    display: none;
    position: fixed;
    margin: 25% 50%;
}

.textarea-wrapper {
    color: rgba(4, 4, 4, 0.35);
    position: absolute;
    width: 90%;
    overflow: hidden;
    cursor: text;
    margin: 0 0 0 20px;
    padding-left: 10px;
    border-radius: 4px;
    height: 70px;
    overflow: hidden;
}

.bubble-content {
    position: relative;
    float: left;
    margin-left: 12px;
    width: 100%;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.bubble {
    margin-top: 20px;
}

.point {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #FFF;
    position: absolute;
    left: -10px;
    top: 12px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
    line-height:
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}


/*over-writes*/

.collapsible-header {
    background-color: #F6F7F8;
    padding: 0;
    color: #333;
}

.collection .collection-item.active {
    color: inherit;
}

.collection .collection-item.avatar {
    padding-left: 35px;
    background-color: #F6F7F8;
}

.card-social {
    background-color: #F6F7F8;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03), 0 2px 10px 0 rgba(0, 0, 0, 0.03);
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
    bottom: 60%;
}

.footer-copyright {
    background-color: #2C3E50!important;
}

.audiojs {
    width: 100%!important;
}



/*
# Dashboard Styles
===============================================
*/

::-webkit-scrollbar {
    width: 2px;
    /* for vertical scrollbars */
    height: 10px;
    /* for horizontal scrollbars */
    border-radius: 10%;
}

/*::-webkit-scrollbar-track {
    background: #2C3E50;
}

::-webkit-scrollbar-thumb {
    background: #2C3E50;
}*/

body {
    .overflow-y: hidden;
}


/*
Navigations Styles
*/

.nav-container {
    ..display: none;
    ..margin-top: -100px;
    ..background: gray;
    height: 100vh!important;
}


/*
 # Side Page Styles
 =====================
*/

.panel-container span p {
    font-size: 20px;
    margin: 0px;
}

.tab-container {
    margin-top: 50px;
}


/*
 # Episode Page Styles
 =====================
*/

.episode-icon {
    margin: 5px;
}

.fb-share,
.twtr-share,
.no-style-link {
    text-decoration: none;
    color: #999;
}

.fb-share:hover {
    color: #3b5998;
}

.twtr-share:hover {
    color: #0084b4;
}


/*
 # User Page Styles
 =====================
*/

.user-name {
    font-size: 15px;
}


/*
 # Avatar Image
 =====================
*/
img.avatar {
    width: 45px;
    max-width: 1232px;
    height: 45px;
    vertical-align: middle;
}

/*
 #
 =====================
*/

@media (max-width: 600px) {
    .nav-container {
        display: none;
    }
}

/*Show liked action on button*/
.dislike {
    color: #26a69a;
}

/*Show dislike action on button*/
.like {
    color: #2C3E50;
}

.social-btn {
    cursor: pointer;
}

.social-btn:active {
    transform: scale(1.20);
    transition: 0.10s;
}

.podcast-nav {
    text-align: center;
    padding-top: 20px;
}

.podcast-nav ul li {
    background-color: #2C3E50;
    display: inline;
    padding: 30px;
    margin: 10px;
    border-radius: 360px;
    height: 50%;
}

h4.center-align.padcast-page-header {
    /* font-variant: small-caps; */
    font-weight: bolder;
    font-size: 57px;
    color:#2C3E50;
}

p.flow-text.center-align.padcast-page-sub-header {
    font-size: 18px;
    width: 83%;
    margin: auto;
    margin-bottom: 100px;
}

.podcast {
    background-color: rgba(245, 245, 245, 0.31);
    padding: 20px;
}

.row.podcast:hover {
    box-shadow: 0px 0px 2px #ccc;
}

.podcast .details .podcast-episode-date {
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    opacity: 0.55;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.podcast .details .tag {
    background-color: #2C3E50;
    position: absolute;
    right: 30px;
    padding: 3px 10px;
    color: #fff;
}

.podcast .podcast-img{
    border-radius:10px;
}



div#audiojs_wrapper0 {
    ..height: 25px;
}

.audiojs .scrubber {
    position: relative;
    ..float: left;
    width: 75%;
    background: #5a5a5a;
    height: 14px;
    margin: 10px;
    border-top: 1px solid #3f3f3f;
    border-left: 0px;
    border-bottom: 0px;
    overflow: hidden;
}

.audiojs .time {
    /* float: left; */
    height: 36px;
    line-height: 36px;
    margin: 0px 0px 0px 6px;
    padding: 0px 6px 0px 12px;
    border-left: 1px solid #000;
    color: #ddd;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.podcast-actions {
    padding: 5px;
}

.podcast-actions .social-btn{
    font-size: 20px;
    margin-right: 10px;
}

.comment-action-edit:hover {
    color:#2C3E50;
}

.comment-action-delete:hover {
    color:#d34836;
}

