body {
<<<<<<< HEAD
    font: Montserrat!important;
=======
    font-family: Montserrat, sans-serif;!important;
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a
    color:#686868!mportant;
    background-color: #fff;
    /*#CEE7D8;*/
}

<<<<<<< HEAD
small {
    font-weight:bold;
}

.logo {
    font-family: sans-serif!important;
=======
.logo {
    font-family: inherit;
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a
    color: #FFFCFF;
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    padding:0 1.5%;
    line-height: 1.2;
}
<<<<<<< HEAD
.waves-effect {
    vertical-align: top!important;
}
.navbar-search {
    margin:0!important;
}
=======
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a

.logo-box {
    margin: 0 auto;
    z-index: 55;
}

<<<<<<< HEAD
.custom-bg {
    background-color: #C0392B;
}

=======
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a
.episode-avatar {
    display:block;
    width:100%;
    height:auto;
    border-radius: 5px;
    margin:10px 0px;
}

.episode-date {
    font-size: 11pt;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: light;
    text-transform: uppercase;
    margin:10px 0px;
}

.social-sharing {
    padding: 10px;
    border-radius: 6px;
    background-color: #82B541;
}

.podcast-page-navigation {
<<<<<<< HEAD
    border-radius: 10px;
    border: 2px solid #2C3E50;
=======
    border-radius: 20px;
    border: 2px solid #4C9689;
    color: #4C9689!important;
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a
    display: inline-block;
    padding: 12px 20px;
    margin: 30px 0 50px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    text-decoration: none;
}

.hosts-image {
    border:1px solid #135764;
    padding:5px;
    background-color: transparent;
    margin:10px 5px 0;
    border-radius: 50%
    height: auto;
    -webkit-box-shadow: 0 0 3px 0 #B5B5B5;
}

.your-host {
    font-family: inherit;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
    padding:1.5%;
    line-height: 1.2;
}

.hosts-name {
    display: block;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    padding:10px;
<<<<<<< HEAD
    color:#2C3E50;
=======
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a
}

.fix {
    margin:30px 0 0;
}

#playlist {
    width: 80%;
    height: auto;
}

.excerpts {
<<<<<<< HEAD
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .01em;
    border-bottom:4px solid #2C3E50;
    padding:10px 0;
    width:12%;
    color: #2C3E50;
}

.error {
    font-size:160pt;
    color:grey;
    font-weight:bold;
    line-height: 1em;
}

.error-message {
    font-weight:bold;
    line-height: 1em;
    color:red;
}

.error-exit-message {
    color:grey;
=======
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .01em;
    border-bottom:4px solid #5B5B5B;
    padding:10px 0;
    width:20%;
    color: #5B5B5B;
>>>>>>> d7eb2da9ebc3eb2cc94f8c2fa98699488e21869a
}
