#wrapper {
  width: 100%;
  max-width: 500px;
  position: absolute;
  margin: 0 auto;
}

.attribution {
  padding: 3em 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.attribution a {
  color: #fff;
}

/* Header Style */

.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
  text-decoration: none;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

@media only screen and (max-width: 32.5em) {
  body {
    /* 150 */
    /* 150 */
    box-shadow: inset 0 0 9.375em rgba(0, 0, 0, 0.5);
    /* 150 */
  }

  #wrapper {
    width: 100%;
    height: auto;
    position: static;
    padding: 3.125em 1.25em;
    /* 50 20 */
    margin: 0;
  }
}

.audioplayer {
  height: 2.5em;
  /* 40 */
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  border: 1px solid #222;
  position: relative;
  z-index: 1;
  background: #333;
  background: -ms-radial-gradient(top, #444, #222);
  background: linear-gradient(top, #444, #222);
  /* 20 */
  /* 20 */
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 1.25em rgba(0, 0, 0, 0.5);
  /* 20 */
  border-radius: 2px;
}

.audioplayer-mini {
  width: 2.5em;
  /* 40 */
  margin: 0 auto;
}

.audioplayer > div {
  position: absolute;
}

.audioplayer-playpause {
  width: 2.5em;
  /* 40 */
  height: 100%;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0;
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
  border-right: 1px solid #555;
  border-right-color: rgba(255, 255, 255, 0.1);
}

.audioplayer-mini .audioplayer-playpause {
  width: 100%;
}

.audioplayer-playpause:hover,
.audioplayer-playpause:focus {
  background-color: #222;
}

.audioplayer-playpause a {
  display: block;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  /* 8 */
  border-right: none;
  border-left-color: #fff;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.25em;
  /* 8 4 */
}

.audioplayer-playing .audioplayer-playpause a {
  width: 0.75em;
  /* 12 */
  height: 0.75em;
  /* 12 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.375em 0 0 -0.375em;
  /* 6 */
}

.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after {
  width: 40%;
  height: 100%;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 0;
}

.audioplayer-playing .audioplayer-playpause a:before {
  left: 0;
}

.audioplayer-playing .audioplayer-playpause a:after {
  right: 0;
}

.audioplayer-time {
  width: 4.375em;
  /* 70 */
  height: 100%;
  line-height: 2.375em;
  /* 38 */
  text-align: center;
  z-index: 2;
  top: 0;
}

.audioplayer-time-current {
  border-left: 1px solid #111;
  border-left-color: rgba(0, 0, 0, 0.25);
  left: 2.5em;
  /* 40 */
}

.audioplayer-time-duration {
  border-right: 1px solid #555;
  border-right-color: rgba(255, 255, 255, 0.1);
  right: 2.5em;
  /* 40 */
}

.audioplayer-novolume .audioplayer-time-duration {
  border-right: 0;
  right: 0;
}

.audioplayer-bar {
  height: 0.875em;
  /* 14 */
  background-color: #222;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  right: 6.875em;
  /* 110 */
  left: 6.875em;
  /* 110 */
  margin-top: -0.438em;
  /* 7 */
}

.audioplayer-novolume .audioplayer-bar {
  right: 4.375em;
  /* 70 */
}

.audioplayer-bar div {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.audioplayer-bar-loaded {
  background-color: #333;
  z-index: 1;
}

.audioplayer-bar-played {
  background: #007fd1;
  background: -ms-radial-gradient(left, #007fd1, #c600ff);
  background: linear-gradient(left, #007fd1, #c600ff);
  z-index: 2;
}

.audioplayer-volume {
  width: 2.5em;
  /* 40 */
  height: 100%;
  border-left: 1px solid #111;
  border-left-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0;
}

.audioplayer-volume:hover,
.audioplayer-volume:focus {
  background-color: #222;
}

.audioplayer-volume-button {
  width: 100%;
  height: 100%;
}

.audioplayer-volume-button a {
  width: 0.313em;
  /* 5 */
  height: 0.375em;
  /* 6 */
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 1;
  top: 40%;
  left: 35%;
}

.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
  content: '';
  position: absolute;
}

.audioplayer-volume-button a:before {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  /* 8 */
  border-left: none;
  border-right-color: #fff;
  z-index: 2;
  top: 50%;
  right: -0.25em;
  margin-top: -0.5em;
  /* 8 */
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
  width: 0.313em;
  /* 5 */
  height: 0.313em;
  /* 5 */
  border: 0.25em double #fff;
  /* 4 */
  border-width: 0.25em 0.25em 0 0;
  /* 4 */
  left: 0.563em;
  /* 9 */
  top: -0.063em;
  /* 1 */
  /* 15 */
  /* 15 */
  border-radius: 0 0.938em 0 0;
  /* 15 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.audioplayer-volume-adjust {
  height: 6.25em;
  /* 100 */
  cursor: default;
  position: absolute;
  left: 0;
  right: -1px;
  top: -9999px;
  background: #222;
  background: -ms-radial-gradient(top, #444, #222);
  background: linear-gradient(top, #444, #222);
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
  opacity: 0;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
  top: auto;
  bottom: 100%;
}

.audioplayer-volume-adjust > div {
  width: 40%;
  height: 80%;
  background-color: #222;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 30% auto 0;
}

.audioplayer-volume-adjust div div {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #007fd1;
  background: -ms-radial-gradient(bottom, #007fd1, #c600ff);
  background: linear-gradient(bottom, #007fd1, #c600ff);
}

.audioplayer-novolume .audioplayer-volume {
  display: none;
}

.audioplayer-play,
.audioplayer-pause,
.audioplayer-volume a {
  -webkit-filter: drop-shadow(1px 1px 0 #000);
  -moz-filter: drop-shadow(1px 1px 0 #000);
  -ms-filter: drop-shadow(1px 1px 0 #000);
  -o-filter: drop-shadow(1px 1px 0 #000);
  filter: drop-shadow(1px 1px 0 #000);
}

.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div {
  border-radius: 4px;
}

.audioplayer-bar,
.audioplayer-volume-adjust > div {
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
}

.audioplayer-volume-adjust div div,
.audioplayer-bar-played {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.audioplayer-volume-adjust {
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
}

.audioplayer *,
.audioplayer *:before,
.audioplayer *:after {
  transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}
#settings {
  box-shadow: -1px 2px 16px 3px rgba(0, 0, 0, 0.52);
  margin-top: 65px;
}

/* Beginning of view comments css */

.episode_comments {
  display: block;
  padding-top: 10px;
}

.view_more_comments {
  width: 50%;
  clear: both;
  margin-bottom: 2%;
  padding: 10px;
  color: #26a69a;
  font-size: 12px;
  cursor: hand;
}

.view_more_comments a {
  width: 20%;
  clear: both;
  margin-bottom: 2%;
  border: 1px solid green;
  padding: 10px;
}

.view_more_comments a {
  font-size: 12px;
  text-decoration: none;
  cursor: hand;
}

/* End */

.logo {
  margin: auto;
  padding: 15px;
}

.waves-effect {
  vertical-align: top !important;
}

.search {
  margin: 0 !important;
}

.logo-box {
  margin: 0 auto;
  z-index: 55;
}

.card-image {
  margin: 15px;
  height: 100%;
  border-radius: 9px;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
}

.user-profile-image {
  height: 50%;
}

.text-disabled {
  color: #ccc;
}

.pin {
  color: white;
  width: 15px;
}

.data-grid {
  width: 25%;
}

.count-active {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #337ab7;
}

.count-deleted {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #ccc;
}

a.capitalize {
  text-transform: capitalize;
  color: #333;
}

a:hover.capitalize {
  color: red;
}

.episode-date {
  font-size: 11pt;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 0;
}

.social-sharing {
  padding: 10px;
  border-radius: 6px;
  background-color: #82B541;
}

.hosts-image {
  border: 1px solid #135764;
  padding: 5px;
  background-color: transparent;
  margin: 10px 5px 0;
  border-radius: 50%;
  height: auto;
}

.your-host {
  font-family: inherit;
  font-size: 18pt;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5%;
  line-height: 1.2;
}

.hosts-name {
  display: block;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  color: #2C3E50;
}

.fix {
  margin: 30px 0 0;
}

#playlist {
  width: 80%;
  height: auto;
}

.excerpts {
  letter-spacing: .01em;
  border-bottom: 3px solid;
  width: 20%;
}

.error {
  font-size: 160pt;
  color: grey;
  font-weight: bold;
  line-height: 1em;
}

.error-message {
  background-color: #D9534F;
  border-radius: 10px;
  font-weight: light;
  color: #fff;
  padding: 15px;
}

.success-message {
  background-color: #5CB85C;
  border-radius: 10px;
  font-weight: light;
  color: #fff;
  padding: 15px;
}

.error-exit-message {
  color: grey;
}

.spacer {
  margin: 3% 0;
}

.facebook {
  width: 100%;
  background-color: #3B5999;
  height: 50px;
  margin: 1%;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.twitter {
  width: 100%;
  background-color: #55ACEF;
  height: 50px;
  margin: 1%;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.customised_alert {
  padding: 8px 20%;
}

.btn-large {
  text-transform: capitalize;
}

.social {
  border: 0;
  box-shadow: none;
}

.pic {
  width: 9%;
}

.loader {
  display: none;
  position: fixed;
  margin: 25% 50%;
}

.textarea-wrapper {
  color: rgba(4, 4, 4, 0.35);
  position: absolute;
  width: 90%;
  overflow: hidden;
  cursor: text;
  margin: 0 0 0 20px;
  padding-left: 10px;
  border-radius: 4px;
  height: 70px;
  overflow: hidden;
}

.bubble-content {
  position: relative;
  float: left;
  margin-left: 12px;
  width: 100%;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.bubble {
  margin-top: 20px;
}

.point {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #FFF;
  position: absolute;
  left: -10px;
  top: 12px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

/*over-writes*/

.collapsible-header {
  background-color: #F6F7F8;
  padding: 0;
  color: #333;
}

.collection .collection-item.active {
  color: inherit;
}

.collection .collection-item.avatar {
  padding-left: 35px;
  background-color: #F6F7F8;
}

.card-social {
  background-color: #F6F7F8;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03), 0 2px 10px 0 rgba(0, 0, 0, 0.03);
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
  bottom: 60%;
}

.footer-copyright {
  background-color: #2C3E50 !important;
}

.api-link {
  margin-left: 2%;
}

.api-link a {
  color: #ffffff;
  text-decoration: none;
}

.audiojs {
  width: 100% !important;
}

/*
# Dashboard Styles
===============================================
*/

/*
Navigations Styles
*/

.nav-container {
  display: none;
  margin-top: -100px;
  background: gray;
  height: 100vh !important;
}

/*
 # Side Page Styles
 =====================
*/

.panel-container span p {
  font-size: 20px;
  margin: 0px;
}

.tab-container {
  margin-top: 50px;
}

/*
 # Episode Page Styles
 =====================
*/

.episode-icon {
  margin: 5px;
}

.fb-share,
.twtr-share,
.no-style-link {
  text-decoration: none;
  color: #999;
}

.no-style-link {
  margin-right: 10px;
}

.fb-share:hover {
  color: #3b5998;
}

.twtr-share:hover {
  color: #0084b4;
}

/*
 # User Page Styles
 =====================
*/

.user-name {
  font-size: 15px;
}

/*
 # Avatar Image
 =====================
*/

img.avatar {
  width: 45px;
  max-width: 1232px;
  height: 45px;
  vertical-align: middle;
}

/*
 #
 =====================
*/

@media (max-width: 600px) {
  .nav-container {
    display: none;
  }
}

/*Show liked action on button*/

.dislike {
  color: #26a69a;
}

/*Show dislike action on button*/

.like {
  color: #2C3E50;
}

.social-btn {
  cursor: pointer;
}

.social-btn:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.10s;
}

.podcast-nav {
  text-align: center;
  padding-top: 20px;
}

.podcast-nav ul li {
  background-color: #2C3E50;
  display: inline;
  padding: 30px;
  margin: 10px;
  border-radius: 360px;
  height: 50%;
}

h4.center-align.padcast-page-header {
  /* font-variant: small-caps; */
  font-weight: bolder;
  font-size: 57px;
  color: #2C3E50;
}

p.flow-text.center-align.padcast-page-sub-header {
  font-size: 18px;
  width: 83%;
  margin: auto;
  margin-bottom: 100px;
}

.podcast {
  background-color: rgba(245, 245, 245, 0.31);
  padding: 20px;
}

.row.podcast:hover {
  box-shadow: 0px 0px 2px #ccc;
}

.podcast .details .podcast-episode-date {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1px;
  opacity: 0.55;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.podcast .details .tag {
  background-color: #2C3E50;
  position: absolute;
  right: 30px;
  padding: 3px 10px;
  color: #fff;
}

.podcast .podcast-img {
  border-radius: 10px;
}

.audiojs .scrubber {
  position: relative;
  float: left;
  width: 75%;
  background: #5a5a5a;
  height: 14px;
  margin: 10px;
  border-top: 1px solid #3f3f3f;
  border-left: 0px;
  border-bottom: 0px;
  overflow: hidden;
}

.audiojs .time {
  /* float: left; */
  height: 36px;
  line-height: 36px;
  margin: 0px 0px 0px 6px;
  padding: 0px 6px 0px 12px;
  border-left: 1px solid #000;
  color: #ddd;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.podcast-actions {
  padding: 5px;
}

.podcast-actions .social-btn {
  font-size: 20px;
  margin-right: 10px;
}

.comment-action-edit:hover {
  color: #2C3E50;
}

.comment-action-delete:hover {
  color: #d34836;
}
body,
html {
  height: 100%;
  position: relative;
  background-color: #E0E0E0;
}

#settings {
  box-shadow: -1px 2px 16px 3px rgba(0, 0, 0, 0.52);
  margin-top: 65px;
  height: 100px;
}

#hero {
  max-height: 500px !important;
  position: relative;
  top: -45px;
}

#hero,
#hero > * {
  width: 100%;
  min-height: 50%;
}

#hero #overlay-image {
  background: url("../images/hero.jpg");
  position: absolute;
  background-size: cover;
  height: 450px;
}

#hero-content {
  position: absolute;
  color: #FFF;
}

#hero-content .content {
  width: 70%;
  margin: 90px auto 0px;
}

#hero-menu {
  position: absolute;
  color: #FFF;
  clear: both;
  top: 20px;
  margin: auto;
  max-height: 50px !important;
  margin-top: 380px;
  font-family: 'robotoLight';
  font-size: 18px;
  padding: 0 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 40px;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
}

#hero-menu a {
  width: 20%;
  float: right;
  margin-top: 5px;
}

.slider-text-header {
  text-align: right;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
  font-family: 'robotoMedium';
  color: #fff;
}

.slider-text-paragraph {
  font-size: 19px;
  line-height: 31px;
  font-weight: 300;
}

.footer-copyright {
  background-color: #2C3E50 !important;
}

.api-link {
  margin-left: 2%;
}

.api-link a {
  color: #ffffff;
  text-decoration: none;
}

.feature-content:nth-child(1) {
  margin-top: 95px;
}

.feature-content {
  clear: both;
  min-height: 20px;
  width: 80%;
  background-color: #fff;
  margin: auto auto 20px auto;
}

.text-content h1 {
  color: #2793e6;
  padding: 10px;
  font-size: 25px;
  font-weight: 200;
  line-height: 30px;
}

.text-content .p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.feature-content .text-content {
  text-align: center;
}

.feature-content .img {
  position: absolute;
  margin-right: 20px;
  width: 200px;
  float: center;
  position: relative;
  left: 30px;
}

.logo {
  margin: auto;
  padding: 15px;
}

.logo-box {
  margin: 0 auto;
  z-index: 55;
}

@font-face {
  font-family: robotoLight;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: robotoMedium;
  src: url("../fonts/Roboto-Medium.ttf");
  font-size: 18px;
}

/*
# myApps Styles
===============================================
*/

#main-one {
  min-height: 350px;
  width: 80%;
  background-color: #fff;
  margin: 20px auto 20px 110px;
}

#main-two {
  min-height: 130px;
  width: 80%;
  background-color: #fff;
  margin: 20px 100px auto -54px;
}

.myapp {
  border: 1px solid #c7cdcf;
  width: 90%;
  height: 150px;
  border-radius: 2px;
  position: relative;
  background: #fcfcfc;
  margin: auto auto auto auto;
}

.error-message {
  border: 1px solid #c7cdcf;
  width: 90%;
  height: 150px;
  border-radius: 2px;
  position: relative;
  background: #fcfcfc;
  margin: 40px auto 40px auto;
}

.error-text {
  text-align: center;
  font-size: 16px;
  color: #FF0000;
}

.waves-two {
  margin-left: 128px;
  width: 250px;
  top: 20px;
}

.app-title {
  font-size: 21px;
  line-height: 70px;
  margin: auto;
  font-weight: 500;
  text-align: center;
}

.app-text {
  margin-top: 20px;
  text-align: center;
}

.waves {
  margin-left: 128px;
  width: 350px;
}

.waves-one {
  margin: 19px auto auto 38px;
  width: 250px;
}

.session-one {
  border-radius: 2px;
  position: relative;
  margin: auto;
}

.session-two {
  margin: auto;
  border-radius: 2px;
  position: relative;
}

.session-three {
  margin: auto;
  border-radius: 2px;
  position: relative;
  background: white;
}

/*
 # Avatar Image
 =====================
*/

img.avatar {
  width: 45px;
  max-width: 1232px;
  height: 45px;
  vertical-align: middle;
}

/*
# appform Styles
===============================================
*/

.form-feature {
  clear: both;
  min-height: 20px;
  width: 80%;
  background-color: #fff;
  margin: -22px auto 20px auto;
}

#main-new-one {
  min-height: 440px;
  width: 80%;
  background-color: #fff;
  margin: 50px auto auto 110px;
}

#main-new-two {
  min-height: 100px;
  width: 80%;
  background-color: #fff;
  margin: 30px auto auto -61px;
}

.wave {
  width: 200px;
  margin: 20px auto auto 80px;
  float: right;
}

input {
  width: 532px;
}

textarea {
  width: 532px;
  min-height: 100px;
}

h5 {
  font-size: 17px;
}

.form-content {
  padding-top: 20px;
}

.help-block {
  color: red;
}

/*
# newappdetails Styles
===============================================
*/

#main-one-app {
  min-height: 420px;
  width: 80%;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 120px;
}

#main-two-app {
  min-height: 150px;
  width: 80%;
  background-color: #fff;
  margin-top: 30px;
  margin-left: -61px;
}

.app-name {
  float: left;
  margin: -20px 20px 0px;
  font-size: 30px;
}

.app-details {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 20px;
  width: 600px;
  border: 1px solid #777;
  margin-top: 30px;
  margin-left: 30px;
  margin: auto auto auto 30px;
  background-color: #fff;
  border-radius: 4px;
}

.wavesapp {
  float: right;
  margin: 20px 20px auto 30px;
  width: 150px;
}

.app-detail:nth-child(1) {
  top: 90px;
}

.owner-token {
  width: -2PX;
  border: 10px;
}

/*
# allappdetails Styles
===============================================
*/

.all-app-details {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 20px;
  width: 600px;
  border: 1px solid #c7cdcf;
  margin: 6px auto auto -1px;
  background-color: #fff;
}

#main-one-apps {
  clear: both;
  min-height: 450px;
  width: 80%;
  background-color: #fff;
  margin: 30px auto -5px auto;
  position: relative;
  overflow: hidden;
}

#main-two-apps {
  clear: both;
  min-height: 150px;
  width: 80%;
  background-color: #fff;
  margin: 30px 100px auto -80px;
  position: relative;
  overflow: hidden;
}

.myapps {
  width: 90%;
  height: 150px;
  border-radius: 2px;
  position: relative;
  background: #fcfcfc;
  margin: auto auto auto auto;
}

.app-name {
  color: #2C3E50;
  font-size: 30px;
}

.btn-copy {
  border-radius: 0;
  display: inline-block;
  background-color: #26a69a;
  color: white;
}

#token-box {
  display: inline;
  width: 78%;
  border-radius: 0;
}

.app {
  margin-bottom: 10px;
}

.app > div {
  clear: both;
  float: left;
  width: auto;
}

.app > div:nth-child(2) {
  margin-bottom: 2px;
}